:root {
    /*=====OTHER=CONSTANTS=======*/
    --verticle-navbar-width: 80px;
    --text-color-half-transparant: hsla(340, 8%, 85%, 0.500);
    --font-small: 300;
    --font-small2: 400;
    /*===== Colors =====*/
    --hue-color:242;
    /* HSL Color Mode */
    --skin-color: hsl(342, 92%, 46%);
    --title-color: hsl(var(--hue-color), 8%, 95%);
    --text-color: hsl(var(--hue-color), 8%, 85%);
    --body-color: hsl(var(--hue-color), 19%, 5%);
    --box-color: hsl(var(--hue-color), 14%, 10%);
    --scroll-bar-color: hsl(var(--hue-color), 12%, 38%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 26%);
    /*===== Font and Typography =====*/
    --body-font: 'Poppins', sans-serif;
    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --biggest-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
    /*===== Font Weight =====*/
    --font-medium: 500;
    --font-bold: 600;
    /*===== Margenes Bottom =====*/
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;
    /*===== Z Index =====*/
    --z-fixed: 10;
    --z-modal: 100;
}



/* the above is the variable template from i found on youtube */







.name_container {
    padding: 5rem 20rem;
}

#hiname {
    text-align: center;
    font-size: 10rem;
}
#subtitle {
    text-align: center;
    font-size: 3rem;
}

#instruct {
    font-size: 1.5rem;
    text-align: center;
    color: lightgray;
}

.followpage {
    font-size: 10rem;
    color: black;
    border-style: solid;
    border-color: lightgray;
}

.followpage:hover {
    font-size: 10.1rem;
    background-color: lightgray;
    color: #FDF5DF;
}

.followpage_links {
    padding: 8rem 0 0 0;
    text-align: center;
}

.followpage_links2 {
    text-align: center;
    color: lightgray;
}

.space {
    padding: 3rem 3rem 3rem 3rem;
    color: lightgray;
    text-decoration: none;
}
.space:hover {
    color: black;
}

.cs50page_links{
    font-size: 2rem;
    text-align: center;
    padding: 4rem;
}

.abc:hover {
    color: gray;
}

.x, .web, .py, .ai {
    display:none;
}

.xhov:hover ~ .x, .webhov:hover ~ .web, .pyhov:hover ~ .py, .aihov:hover ~ .ai{
    display: flex;
    color: black;
}

.csdesc {
    font-size: 1rem;
    padding: 2rem 5rem;
}
.warn {
    text-align: center;
    color: gray;
}
.grid {
    display: grid;
  }

.section {
    padding: 5vh 0 0;
  }

  .about {
    height: 100vh;
  }
  .about_container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0rem;
  }

  .about_profile {
    width: 30vw;
    height: 75vh;
    border-radius: 0.75rem;
    margin-left: 7vw;
    justify-self: center;
  }
  .about_heading {
    font-size: var(--h2-font-size);
    margin-bottom: var(--mb-0-75);
  }

  .about_description {
    text-align: justify;
    padding-right: 5vw;
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-2);
  }

  .about_info {
    grid-template-columns: repeat(4, 9vw);
    column-gap: 2.5vw;
  }

  .about_buttons {
    margin-top: 25vh;
    display: flex;
    column-gap: 2.5vw;
  }

  .about_box {
    text-align: center;
    border-radius: .25rem;
    padding: 1rem .5rem;
    background-color: var(--box-color);
  }

  .about_icon {
    font-size: 1.5rem;
    color: lightgray;
    margin-bottom: var(--mb-0-75);
  }

  .about_title {
    font-size: var(--small-font-size);
    color: white;
  }

  .about_subtitles {
    font-size: var(--smaller-font-size);
    color: lightgray;
  }

  .container {
    max-width: 100vw;
    max-height: 100vh;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
  }

  .section_title {
    height: 10vh;
    text-align: center;
    font-size: var(--h1-font-size);
    margin-bottom: var(--mb-3);
    text-transform: uppercase;
  }

  .section_title::before {
    content: attr(data-heading);
    display: block;
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    color: var(--skin-color);
  }
