{% extends 'layout.html' %}

{% block title %}
    HISTORY
{% endblock %}

{% block main %}

    TRANSACTION HISTORY
    <table>
        <thead>
            <tr>
                <th>Transaction id</th>
                <th>Type</th>
                <th>Company Name</th>
                <th>Symbol</th>
                <th>Number of Shares</th>
                <th>Price per stock</th>
                <th>Time of Transaction</th>
            </tr>
        </thead>
        <tbody>
            {% for row in history %}
                <tr>
                    <td>{{ row["transaction_id"] }}</td>
                    <td>{{ row["transaction_type"] }}</td>
                    <td>{{ lookup(row["stock_symbol"])["name"] }}</td>
                    <td>{{ row["stock_symbol"] }}</td>
                    <td>{{ row["share_numbers"] }}</td>
                    <td>{{ usd(row["price"])}}</td>
                    <td>{{ row["transaction_time"] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
