{% extends 'layout.html' %}

{% block title %}
    SELL
{% endblock %}

{% block main %}

    <form method="post" action="/sell">
        <div class="mb-3">
            <select class="form-control mx-auto w-auto" autocomplete="off" name="symbol" placeholder="Symbol of Stocks" type="text">
                <option disabled selected value="">Select Stock</option>
                {% for row in symbols %}
                    <option value="{{ row['stock_symbol'] }}">{{ row["stock_symbol"] }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" autocomplete="off" name="shares" placeholder="No. of Stocks" type="number">
        </div>
        <button class="btn btn-primary" type="submit">Sell Stock</button>
    </form>

{% endblock %}
